// colors
$darkGreen: #5c8d89;
$green: #74b49b;
$lightGreen: #a7d7c5;
$veryLightGreen: #09090b;
$darkGrey: #828282;
$white: #000000;
$lightGrey: #f2f2f2;
$primary : #17171a;
$secundary: #1b78d5;
$border : #444;

$primary_pro : #2f2f35;

// font family
$fontFamily: "Inter", sans-serif;

$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);




/** novas cores */

$white_original: #ffffff;
$black_original: #000000;
