@import "./_variables";



.app-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    transition: width 0.5s;
    &.active {
        width: 250px;
    }
    &.closed {
        width: 60px;
    }
}

.main-content {
    flex: 1 1;
    padding: 0px 24px;
    transition: margin-left 0.5s;
    height: 100vh;
    overflow-x: hidden;

    &.sidebar-open {
        margin-left: 250px;
    }

    &.sidebar-closed {
        margin-left: 60px;
    }
}





body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: $fontFamily;
    background-color: $veryLightGreen;
    text-transform: capitalize;
}

h1 {
    // width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    width: 15rem;
    height: 100vh;
    transition: 0.5s all;

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        svg {
            color: $primary;

        }
    
        h2.title {
            font-size: 31.42px;
            color: $primary;
            padding: 0 0 0 1rem;
        }
    }

    .burgerContainer {
        content: "";
        background-color: $primary;
        position: absolute;
        right: (-35px / 2);
        top: calc(9rem / 1.15);
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;

        .burgerTrigger {
            content: "";
            width: 35px;
            height: 35px;
            background-color: red;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
            position: relative;
        }

        .burgerMenu {
            content: "";
            background-color: $primary;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            bottom: calc(35px / 2);
            left: 0.45rem;
            transition: 0.5s all;
        }

        .burgerMenu::after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            transform: translateY(-0.4rem) rotate(45deg);
            transition: 0.5s all;
        }

        .burgerMenu::before {
            content: "";
            background-color: $white;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
            transition: 0.5s all;
        }
    }

    .burgerContainer::after {
        content: "";
        position: absolute;
        right: 35px;
        top: (35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: $lightGrey;
        height: 2px;
        transition: 0.5s all;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem 0 0 0;

        img {
            width: auto;
            height: 3rem;
        }

        .profileContents {
            padding: 0 0 0 1rem;

            p.name {
                padding: 0;
                margin: 0;
                font-size: 16.7px;
                color: $darkGrey;
                text-transform: capitalize;
                font-weight: $heavyFont;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 13.9px;
                color: $darkGrey;
                text-transform: lowercase;
            }
        }
    }

    .contentsContainer {
        margin: 2rem 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 0.75rem 0;
                padding: 0.75rem 0;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;

                svg {
                    padding: 0px 8px;
                    color: $darkGrey;
                }

                a {
                    text-decoration: none;
                    color: $darkGrey;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            li.active {
                background-color: $primary;
                width: 100%;

                a {
                    color: $white;
                }
            }

            .active svg {
                color: $white;
                padding: 0px 8px;
            }

            li:hover {
                background-color: $lightGrey;
                transition: 0.25s;
                width: 100%;
            }

            li.active:hover {
                background-color: $primary;
                transition: 0.25s;
                width: 100%;
            }
        }
    }
}

.sidebar.active {
    width: 3rem;
    transition: 0.5s all;
    
    .logoContainer.active {
        // padding: 22px;

        svg {
            color: $primary;
        }
        h2.title {
            display: none;
            opacity: 0;
        }
    }
    .burgerContainer.active {
        transition: 0.5s all;
        .burgerMenu {
            background-color: $white;
            transition: 0.5s all;
        }

        .burgerMenu::before {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }

        .burgerMenu::after {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }
    }



    .profileContainer {
        padding: 8rem 0 0 0;
        .profileContents {
            opacity: 0;
        }
    }

    .contentsContainer {
        li {
            a {
                opacity: 0;
                width: 0;
                margin: 0;
                transition: 0.5s;
                display: none;
            }
        }

        .active a {
            opacity: 0;
        }
    }
}


.navbar {
    background-color: $primary;
    padding: 14px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: Arial, sans-serif;
    width: -moz-fit-content;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */

}

.navbar .logout{
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    gap: 1rem;
}

.navbar .menu-item {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar .menu-item:hover {
    background-color: #444;
    color: #fff;
}

.navbar .menu-item.active {
    background-color: #555;
    color: #fff;
}

.navbar .menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    .navbar .menu-item {
        padding: 1rem;
        border-bottom: 1px solid #444;
    }

    .navbar .menu-toggle {
        display: block;
    }

    .navbar.active .menu {
        display: flex;
    }
}
