@import "./_variables";



.app-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    transition: width 0.5s;

    &.active {
        width: 250px;
    }

    &.closed {
        width: 60px;
    }
}

.main-content {
    flex: 1 1;
    padding: 0px 24px;
    transition: margin-left 0.5s;
    height: 100vh;
    overflow-x: hidden;
    background-color: $white;

    &.sidebar-open {
        margin-left: 250px;
    }

    &.sidebar-closed {
        margin-left: 60px;
    }
}





body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: $fontFamily;
    background-color: $white;
    text-transform: capitalize;
}

h1 {
    // width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 1rem;
    width: 15rem;
    height: 100vh;
    transition: 0.5s all;

    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;


        svg {
            color: $primary;

        }

        h2.title {
            font-size: 31.42px;
            color: $white_original;
            padding: 0 0 0 1rem;
        }
    }

    .burgerContainer {
        content: "";
        background-color: $primary;
        position: absolute;
        right: (-35px / 2);
        top: calc(9rem / 1.15);
        width: 35px;
        height: 35px;
        border-radius: 2rem;
        z-index: 1;

        .burgerTrigger {
            content: "";
            width: 35px;
            height: 35px;
            background-color: red;
            cursor: pointer;
            z-index: 6;
            opacity: 0;
            position: relative;
        }

        .burgerMenu {
            content: "";
            background-color: $primary;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            bottom: calc(35px / 2);
            left: 0.45rem;
            transition: 0.5s all;
        }

        .burgerMenu::after {
            content: "";
            background-color: $white_original;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: 0.4rem;
            transform: translateY(-0.4rem) rotate(45deg);
            transition: 0.5s all;
        }

        .burgerMenu::before {
            content: "";
            background-color: $white_original;
            position: absolute;
            width: 20px;
            height: 3px;
            border-radius: 2rem;
            top: -0.4rem;
            transform: translateY(0.4rem) rotate(-45deg);
            transition: 0.5s all;
        }
    }

    .burgerContainer::after {
        content: "";
        position: absolute;
        right: 35px;
        top: (35px / 2);
        z-index: 0;
        width: calc(6rem + 15rem);
        background-color: $lightGrey;
        height: 2px;
        transition: 0.5s all;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem 0 0 0;

        img {
            width: auto;
            height: 3rem;
        }

        .profileContents {
            padding: 0 0 0 1rem;

            p.name {
                padding: 0;
                margin: 0;
                font-size: 16.7px;
                color: $darkGrey;
                text-transform: capitalize;
                font-weight: $heavyFont;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 13.9px;
                color: $darkGrey;
                text-transform: lowercase;
            }
        }
    }

    .contentsContainer {
        margin: 2rem 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 8px;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                // margin: 0.75rem 0;   
                padding: 0.45rem 0;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;

                svg {
                    padding: 0px 8px;
                    color: $white_original;

                }

                // a {
                text-decoration: none;
                color: $white_original;
                // font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // }
            }

            li.active {
                background-color: $primary;
                width: 100%;
                color: $secundary;

                a {
                    color: $secundary;
                }
            }

            .active svg {
                color: $secundary;
                padding: 0px 8px;

            }

            li ul li:hover {
                background-color: $primary;
                transition: 0.25s;
                width: 100%;
            }

            li.active:hover {
                background-color: $primary;
                transition: 0.25s;
                width: 100%;
            }
        }
    }
}

.sidebar.active {
    width: 3rem;
    transition: 0.5s all;
    padding: 5rem 1rem;

    .logoContainer.active {

        svg {
            color: $primary;
        }

        h2.title {
            display: none;
            opacity: 0;
        }
    }

    .burgerContainer.active {
        transition: 0.5s all;

        .burgerMenu {
            background-color: $white;
            transition: 0.5s all;
        }

        .burgerMenu::before {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }

        .burgerMenu::after {
            transform: translateY(0rem) rotate(0deg);
            transition: 0.5s all;
        }
    }



    .profileContainer {
        padding: 8rem 0 0 0;

        .profileContents {
            opacity: 0;
        }
    }

    .contentsContainer {
        li {
            a {
                opacity: 0;
                width: 0;
                margin: 0;
                transition: 0.5s;
                display: none;
            }
        }

        .active a {
            opacity: 0;
        }
    }
}


.navbar {
    background-color: $primary;
    padding: 20px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: Arial, sans-serif;
    width: -moz-fit-content;
    // width: 100%;
    z-index: 1;
    // position: fixed;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.navbar .logout {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    gap: 1rem;
}

.navbar .menu-item {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar .menu-item:hover {
    background-color: #444;
    color: #fff;
}

.navbar .menu-item.active {
    background-color: #555;
    color: #fff;
}

.navbar .menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar .menu {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    .navbar .menu-item {
        padding: 1rem;
        border-bottom: 1px solid #444;
    }

    .navbar .menu-toggle {
        display: block;
    }

    .navbar.active .menu {
        display: flex;
    }
}








/* Ajuste para a animação funcionar bem em telas pequenas */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        /* Mantenha o sidebar fixo na tela */
        top: 0;
        left: 0;
        /* Sidebar começa fora da tela */
        height: 100vh;
        width: 250px;
        background-color: #fff;
        transition: transform 0.3s ease-in-out;
        /* Transição suave */
        z-index: 9;
    }


    .sidebar.active .burgerContainer.active {
        display: none;
    }

    /* Quando o menu estiver fechado, ele está completamente fora da tela */
    .sidebar.sidebar-closed {
        transform: translateX(0);
        /* Sidebar totalmente fora da tela */
    }

    /* Quando o menu estiver aberto */
    .sidebar.active {
        right: 300px;
        /* Sidebar entra a partir do lado esquerdo */
        transform: translateX(-100%);
        /* Sidebar aparece */
    }

    .main-content.sidebar-closed {
        margin-left: 0px;
        /* Não há espaço para o menu */
    }

    .main-content.sidebar-open {
        margin-left: 0px;
        /* Deixe o espaço à esquerda quando o menu estiver aberto */
    }

    /* Ajuste no conteúdo principal */
    .main-content {
        padding: 0;
        transition: margin-left 0.3s ease-in-out;
        /* Transição suave para o conteúdo */
    }

    .navbar {
        width: auto;
        position: fixed;
        width: 94%;
        /* margin-top: 23px; */
        z-index: 2;
    }

    .navbar .menu-toggle {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
    }

    .container {
        background: $primary;
        width: fit-content;
        display: flex;
        width: 100%;
        padding: 0px;
        border: none;
        margin-top: 70px;
    }

    .css-1r4ai6y {
        width: 100%;
        padding: 0px !important;
    }

    .css-178yklu {
        padding: 12px !important;
    }

    .css-1dqpc7h {
        display: flex;
        flex-direction: column;
    }

}


.submenu {

    padding: 8px 0px !important;

    li {
        padding: 0px;

        svg {
            margin-left: 2.5rem;

        }
    }
}


.sidebar .active {
    .submenu {

        svg {
            margin-left: 0.375rem;

        }
    }

}



.MuiPaper-root {
    background: $primary !important;
    color: $white_original !important;
    border: 1px solid $border;
    padding: 0px 12px;
}

.MuiInputBase-root {
    background: $primary_pro !important;
    color: $white_original !important;
    border: 1px solid $border;
    height: 48px !important;


}

.css-w1u3ce {
    color: $white_original !important;
    & span {
        color: $white_original !important;
    }

}

 .MuiFormLabel-root{
    color: $white_original !important;
}


.MuiSvgIcon-root{
    color: darkgray !important;
}
