@import "../_variables";

.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $veryLightGreen;
}

.login-paper {
    display: flex;
    width: 30%;
    // max-width: 900px;
    height: 600px;
    border-radius: 8px !important;
    overflow: hidden;
    flex-direction: row; // Default layout for larger screens

    @media (max-width: 768px) {
        flex-direction: column; // Stack layout for mobile
        height: auto;
        width: 90%;
    }
}

.login-left {
    flex: 1;
    background: #e8f4ff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 2rem;
        height: 200px; // Adjust height for illustration on mobile
    }
}

.login-illustration {
    width: 70%;

    @media (max-width: 768px) {
        width: 50%; // Adjust size for mobile
    }
}

.login-right {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    justify-content: space-around;
    @media (max-width: 768px) {
 
        padding: 1rem; // Reduce padding for mobile
    }
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        flex-direction: column; // Stack options for mobile
        align-items: flex-start;
        gap: 0.5rem; // Add spacing between elements
    }
}

.login-button {
    margin-top: 10px !important;
    background-color: $secundary !important;
    color: $white_original !important;

    //   button{
    // color: $white_original !important;
    // background: $primary_pro !important;
    // border: 1px solid $border !important;
    // border-radius: 8px !important;
//   }

    &:hover {
        background-color: #155a9a !important;
    }
}

.signup-link {
    margin-top: 1rem;
    text-align: center;
}



.welcome-container {
    text-align: center;
    font-family: 'Arial', sans-serif;
    text-transform: none; /* Impede a transformação automática de maiúsculas/minúsculas */
    color: $white_original !important;

  }
  
  .welcome-text {
    font-size: 2em;
    font-weight: 700;
    color: $white_original !important;
  }

//   $primary : #004080;
// $secundary: #1b78d5;
  
  .highlighted-text {
    // font-style: italic;
    color: $white_original !important;
  }
  
  .login-prompt {
    font-size: 1.2em;
    margin-top: 20px;
    color: #555;
    text-transform: none; /* Impede a transformação automática de maiúsculas/minúsculas */
  }
  
  .voltar-btn{
    // background-color: $secundary !important;
    color: $secundary !important;
    border: 1px solid $border  !important;
  }

  .MuiStepLabel-iconContainer{
    // background-color: $secundary !important;
    // color: $secundary !important;

    // svg {
    //     // background-color: $secundary !important;
    //     color: $secundary !important;
    
    // }



  }


  .login-container {




  .MuiStepLabel-label{
    color: $white_original !important;
  }

  .MuiStepper-root{
    background: $primary_pro;
    border: 1px solid $border  !important;
    padding: 8px;
    border-radius: 4px;
    width: 100%;

  }

  .MuiBox-root{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .MuiBox-root .css-1yuhvjn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .titulo-registro{
    display: flex;
    flex-direction: column;
    gap: 1px !important;

    & span{
        color: $border;
    }
  }

  /* Adicione no seu arquivo de estilos global */
 .Mui-active {
    color: #1976d2; /* Cor azul */

    svg{
        color: $secundary !important;
    }
  }
  

  .active-step {

    span{
        color: $secundary !important;
    }
 
  }

  .form-registration{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

}