@import "../_variables";


.container{
    background: $white;
    width: fit-content;
    padding: 10px 30px 30px 30px;
    margin-top: 4px;
    /* flex: 1; */
    display: flex;
    width: 98%;

    &__btn-salvar{
        background: $primary;
        display: flex;
        gap: 12px;
    }
}
